.correctAnswer {
    background-color: #33EDAF;
    color: #000000
}
.deadQuestion {
    background-color: gray;
}
.notDeadQuestion {
    background-color: #33EDAF;
    color: #961CFF;
    border: 8px solid #ffffff !important;
}
.notDeadQuestion h1 {
    color: #961CFF;
}
.hidden {
    visibility:hidden;
}

#gotoadmin {
    text-align: center;
    color: black;
}

#adminAnchor {
    margin-top: 0px;
}

#startover {
    text-align: center;
    color: black;
}

#btnStartOver {
    margin-top: 0px;
}

h2, h3 {
    margin-bottom: 0px;
}

.header {
    background-color: #ffffff;
    color: #961CFF;
    padding: 10px;
}

.header h2 {
    margin: 0px;
    padding: 0px;
}

.white, .white:hover {
    color: #ffffff;
    text-decoration: underline;
}

.liveGameCurrentQuestionHeader {
    background-color: #ffffff;
    color: #961CFF;
    margin-top: 20px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#questionsFrame {
    height: 70vh;
    overflow: auto;
}
.lastOf:nth-last-child(1) {
    margin-bottom: 0px !important;
}