.logout, .logout:hover {
  color: #fff;
}
.bg-primary {
  background-color: #9800FF !important;
}
.logo {
  width: 500px;
}
#navfix {
  display: inline-block;
}

@media screen and (max-width: 768px) { 
  a.navbar-brand {
    margin: 0px;
  }
  h1.pageTitle {
    display: block !important;
    margin: auto;
  }
}
