body {
    /* background-color: #00ffcc; */
    background-color: #971DFF;
    color: #ffffff;
}

h1 {
    font-size: 3em;
    color: #ffffff;
}

h1.question {
    background-color: #34edaf;
    color:#971DFF;
}

/* canvas {
    height: 85vh !important;
} */

div.liveQuestion {
    width: 30%;
    float: left;
    margin: 0;
    margin-left: 5%;
    padding: 20px 40px;
}

div.liveTeams {
    width: 30%;
    float: left;
    margin: 0;
    padding: 20px 40px;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

div.liveTimer {
    width: 30%;
    float: left;
    margin: 0;
    margin-right: 5%;
    padding: 20px 40px;
}

h4.firstCorrect {
    background-color: #34edaf;
    color: #971DFF;
    padding: 5px 10px
}

.liveContainer {
    background-color: black;
    border-left: 2px solid #ffffff !important;
    border-right: 2px solid #ffffff !important;
}

.postAnswers {
    width: 90%;
    /* height: 80%; */
    float: left;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}

.postTeams {
    width: 45%;
    height: 80%;
    float: left;
    margin: 0;
    margin-right: 5%;
    padding: 20px
}

.whiteLink, .whiteLink:hover {
    color: #fff;
    text-decoration: underline;
  }